.company-section {
  display: flex;
  padding: 100px 0;
  align-items: center;
  justify-content: space-between;

  .images-wrapper {
    cursor: pointer;
    width: 162px;
    height: 100px;
    transition: transform 0.5s ease-in-out;
    background-color: #fff;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      mix-blend-mode: luminosity;
    }

    &:hover {
      transform: scale(1.02);
    }

    &:hover::before {
      content: "";
      border-radius: 10px;
      background-color: transparent;
      box-shadow: var(--box-shadow);
      width: 160px;
      height: 90px;
      position: absolute;
    }

    @include responsive(lg) {
      width: 120px;
      height: 100px;
    }
  }

  @include responsive(lg) {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
  }
}
