.company-section {
  display: flex;
  padding: 100px 0;
  align-items: center;
  justify-content: space-between;

  .images-wrapper {
    cursor: pointer;
    width: 180px;
    height: 162px;
    padding: 0 20px;
    transition: transform 0.5s ease-in-out;
    background-color: #fff;

    img {
      width: 100%;
      height: 100%;
      mix-blend-mode: luminosity;
    }

    &:hover {
      border-radius: 10px;
      background-color: transparent;
      box-shadow: var(--box-shadow);
      z-index: 1;
      transform: scale(1.02);
    }
  }

  @include responsive(lg) {
    padding: 0px 30px;
  }
}
