.services-wrapper {
  padding: 50px 0 100px;
  position: relative;

  .container {
    position: relative;
  }

  .img-stars {
    position: absolute;
    right: -180px;

    @include responsive(lg) {
      right: 0;
      z-index: -1;
      width: 80px;
    }
  }

  .services-header {
    text-align: center;

    p {
      margin: 20px 0;
    }

    @include responsive(lg) {
      text-align: center;
      p {
        font-size: 24px;
      }
    }
  }

  .services-grid {
    .grid-item {
      cursor: pointer;
      padding: 0 30px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      border-radius: 36px;
      background: #fff;

      &:hover {
        padding: 0 30px;
        border-radius: 36px;
        box-shadow: var(--box-shadow);
      }
    }

    .item2 {
      position: relative;

      .grid-item-images {
        img {
          margin-top: -40px;
        }
      }

      .grid-item-info {
        margin-top: -40px;
      }

      .img-rectangle {
        position: absolute;
        z-index: -1;
        bottom: -50px;
        left: -70px;
      }
    }

    .item4 {
      .grid-item-info {
        margin-top: 5px;
      }
    }

    @include responsive(lg) {
      margin: 50px 0 0;
    }
  }

  .xsm-header {
    font-family: "Open Sans", "sans-serif";
  }

  @include responsive(lg) {
    padding: 20px 30px;
  }
}
