.subscribe-wrapper {
  padding: 100px 0;

  .stars {
    position: absolute;
    bottom: -72px;
    right: -100px;

    @include responsive(lg) {
      width: 80px;
      right: -20px;
      bottom: -40px;
      z-index: -1;
    }
  }

  .bluearrow {
    position: absolute;
    top: -30px;
    right: -20px;
    z-index: 5;

    @include responsive(lg) {
      width: 80px;
      top: -23px;
    }

    @include responsive(xsm) {
      width: 50px;
    }
  }

  .email-section {
    text-align: center;
    border-radius: 129px 20px 20px 20px;
    background: rgba(223, 215, 249, 0.2);
    padding: 50px 0 35px;
    position: relative;

    .rings {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.1;

      @include responsive(lg) {
        display: none;
      }
    }

    .rings1 {
      position: absolute;
      right: 0;
      opacity: 0.1;
      top: 0;
      z-index: -1;

      @include responsive(lg) {
        display: none;
      }
    }

    .info {
      font-size: 33px;
      font-weight: 600;
      padding: 0 150px;
      opacity: 1;

      @include responsive(lg) {
        text-align: center;
        font-size: 14px;
        padding: 0 30px;
      }
    }

    .subscribe-section {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      .input-section {
        position: relative;

        .img-email {
          position: absolute;
          z-index: 55;
          top: 22px;
          left: 22px;

          @include responsive(lg) {
            top: 18px;
          }
        }

        input {
          border-radius: 10px;
          background: white;
          gap: 10px;
          padding: 20px;
          outline: none;
          border: none;
          width: 400px;
          box-sizing: border-box;
          position: relative;

          &::placeholder {
            color: #39425d;
            opacity: 0.8;
            font-size: 14px;
            font-weight: 400;
            margin-left: 0px;
            position: absolute;
            left: 52px;
            width: 100%;
          }

          @include responsive(lg) {
            width: 400px;
            padding: 15px;
          }

          @include responsive(xsm) {
            padding: 15px;
            width: 200px;
          }
        }
        label {
          display: none;
        }

        span {
          color: #39425d;
          font-size: 14px;
          font-weight: 400;
        }
      }

      @include responsive(lg) {
        padding: 0 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
      }
    }

    @include responsive(lg) {
      border-radius: 80px 20px 20px 20px;
      padding: 20px 0 0px;
    }
  }

  .email-success {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .img-tick-blue {
      display: none;
    }

    .img-tick-red {
      display: none;
    }

    .msg-success {
      visibility: hidden;

      @include responsive(lg) {
        font-size: 12px;
        text-align: left;
      }
    }
  }

  @include responsive(lg) {
    padding: 20px 30px;
  }
}
