.subscribe-section {
  .stars {
    position: absolute;
    bottom: -72px;
    right: -100px;

    @include responsive(lg) {
      width: 80px;
      right: -5px;
      bottom: -40px;
      z-index: -1;
    }
  }

  .bluearrow {
    position: absolute;
    top: -30px;
    right: -20px;
    z-index: 5;

    @include responsive(lg) {
      width: 40px;
      top: -20px;
      right: -10px;
    }

    @include responsive(xsm) {
      width: 40px;
      right: -10px;
    }
  }

  .email-section {
    text-align: center;
    border-radius: 129px 20px 20px 20px;
    background: rgba(223, 215, 249, 0.2);
    padding: 50px 0 0;
    position: relative;

    .rings {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.1;

      @include responsive(lg) {
        display: none;
      }
    }

    .rings1 {
      position: absolute;
      right: 0;
      opacity: 0.1;
      top: 0;
      z-index: -1;

      @include responsive(lg) {
        display: none;
      }
    }

    .info {
      font-size: 33px;
      font-weight: 600;
      padding: 0 150px;
      opacity: 1;

      @include responsive(lg) {
        text-align: center;
        font-size: 14px;
        padding: 0 30px;
      }
    }

    .subscribe-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      padding: 50px 0 0;

      .input-section {
        position: relative;

        .img-email {
          position: absolute;
          z-index: 55;
          top: 22px;
          left: 22px;

          @include responsive(lg) {
            top: 18px;
          }
        }

        input {
          border-radius: 10px;
          background: white;
          gap: 10px;
          padding: 20px;
          outline: none;
          border: none;
          width: 400px;
          box-sizing: border-box;
          position: relative;

          &::placeholder {
            color: #39425d;
            opacity: 0.8;
            font-size: 14px;
            font-weight: 400;
            margin-left: 0px;
            position: absolute;
            left: 52px;
            width: 100%;
          }

          @include responsive(lg) {
            width: 400px;
            padding: 15px;
          }

          @include responsive(xsm) {
            padding: 15px;
            width: 280px;
          }
        }
        label {
          display: none;
        }

        span {
          color: #39425d;
          font-size: 14px;
          font-weight: 400;
        }
      }

      @include responsive(lg) {
        padding: 0 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
      }
    }

    @include responsive(lg) {
      border-radius: 80px 20px 20px 20px;
      padding: 20px 0 0px;
    }
  }

  .email-success {
    position: relative;
    margin: 0 auto;
    top: -6px;
    padding: 30px 0;
    width: 630px;

    @include responsive(lg) {
      width: 400px;
      top: -23px;
    }

    @include responsive(sm) {
      width: 400px;
      top: -23px;
    }

    @include responsive(xsm) {
      width: 270px;
      top: -23px;
    }
  }

  .success-msg,
  .success-fail {
    position: absolute;
    z-index: -9999;
    bottom: 0px;
    transition: opacity 0.4s ease-in-out;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    opacity: 0;
    border-radius: 5px;

    @include responsive(bg) {
      width: 60%;
    }

    @include responsive(lg) {
      width: 95%;
    }

    @include responsive(sm) {
      font-size: 15px;
    }

    @include responsive(xsm) {
      font-size: 10px;
    }

    img {
      margin-right: 15px;
      margin-left: 0px;
    }

    @include responsive(lg) {
      bottom: -20px;
    }
  }

  .success-msg {
    background: rgb(174, 239, 174);
    color: green;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: -10px;
    //   left: 15px;
    //   border-left: 10px solid transparent;
    //   border-right: 10px solid transparent;
    //   border-bottom: 10px solid rgb(174, 239, 174);
    // }
  }

  .success-fail {
    background: rgb(250, 173, 173);
    color: red;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: -10px;
    //   left: 15px;
    //   border-left: 10px solid transparent;
    //   border-right: 10px solid transparent;
    //   border-bottom: 10px solid rgb(245, 181, 188);
    // }
  }

  .success-msg.opacity,
  .success-fail.opacity {
    opacity: 1;
  }

  @include responsive(lg) {
    padding: 16px;
  }
}
