.subscribe-wrapper {
  padding: 100px 0;
  position: relative;

  .stars {
    position: absolute;
    bottom: 30px;
    right: 125px;
  }

  .bluearrow {
    position: absolute;
    right: 200px;
    top: 80px;
    z-index: 5;
  }

  .email-section {
    text-align: center;
    border-radius: 129px 20px 20px 20px;
    background: rgba(223, 215, 249, 0.2);
    padding: 50px 0 70px;
    position: relative;

    .rings {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.1;
    }

    .rings1 {
      position: absolute;
      right: 0;
      opacity: 0.1;
      top: 0;
      z-index: -1;
    }

    .info {
      font-size: 33px;
      font-weight: 600;
      padding: 0 150px;
      opacity: 1;
    }

    .subscribe-section {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      .input-section {
        border-radius: 10px;
        background: white;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 20px 250px 20px 30px;

        span {
          color: #39425d;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}
