.testimonials-wrapper {
  padding: 100px 0;

  .pagination {
    position: absolute;
    right: -150px;
    top: 90px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .opacity {
      opacity: 0.5;
    }
  }

  .testimonials-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
  }

  .testimonials-section-text {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .testimonials-header {
      p {
        margin: 20px 0;
        text-transform: capitalize;
      }
    }

    .dots-section {
      display: flex;
      gap: 30px;

      .dots {
        cursor: pointer;
        background: rgb(190, 187, 187);
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }

      .active {
        background: black;
      }
    }
  }

  .testimonials-section-people {
    position: relative;

    .cards {
      border-radius: 10px;
      background: #fff;
      box-shadow: var(--box-shadow);
      width: 600px;
      height: 240px;

      .img-man {
        position: absolute;
        left: -30px;
        top: -25px;
      }

      .info-section {
        padding: 20px 30px;

        .info {
          margin: 20px 0 50px;
          padding: 0 80px 0 0;
        }

        span.details {
          font-size: 18px;
          font-weight: 600;
        }

        .place {
          margin: 5px 0 0;
        }
      }
    }

    .card1 {
      position: absolute;
      top: 0;
      left: 0;
    }

    .card2 {
      position: absolute;
      bottom: -66px;
      left: 45px;
      z-index: -1;
    }
  }
}
