.testimonials-wrapper {
  padding: 100px 0;

  .testimonials-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    @include responsive(lg) {
      display: flex;
      flex-direction: column;
    }
  }

  .testimonials-section-text {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .testimonials-header {
      p {
        margin: 20px 0;
        text-transform: capitalize;
      }
    }

    @include responsive(lg) {
      text-align: center;

      p {
        font-size: 24px;
      }
    }
  }

  .testimonials-section-people {
    position: relative;

    .cards {
      width: 580px;
      box-shadow: var(--box-shadow);
      border-radius: 10px;
      padding: 10px 15px 10px 10px;

      .card-image {
        width: 68px;
        height: 68px;
        border-radius: 50%;
        overflow: hidden;
        top: -40px;
        left: -40px;
        position: absolute;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @include responsive(lg) {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .info-section {
        padding: 20px 30px;

        .info {
          margin: 20px 0 50px;
          padding: 0 80px 0 0;

          @include responsive(lg) {
            padding: 0 30px 0 0;
            margin: 20px 0;
          }
        }

        span.details {
          font-size: 18px;
          font-weight: 600;
        }

        .place {
          margin: 5px 0 0;
        }

        @include responsive(lg) {
          padding: 0;
        }
      }
    }

    .card1 {
      z-index: 1;
    }

    .card2 {
      position: absolute;
      top: 100px;
      z-index: -1;
      left: 100px;
    }

    .card3 {
      display: none;
    }

    @include responsive(lg) {
      width: 100%;
      display: none;
    }
  }

  @include responsive(lg) {
    padding: 20px 30px;
  }
}
