body {
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

select {
  border-width: 0px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
    border: none;
  }
}
