.lg-header {
  font-family: "Volkhov";
  color: #181e4b;
  font-size: 84px;
  font-weight: 700;
}

.sm-header {
  color: #14183e;
  font-family: "Volkhov";
  font-size: 50px;
  font-weight: 700;
}

.xsm-header {
  display: block;
  color: #1e1d4c;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
}

a {
  color: #212832;
  font-size: 17px;
  font-weight: 500;
}

.hero-info {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  color: #5e6282;
  font-size: 16px;
  font-weight: 500;
}

.header-tag {
  color: #5e6282;
  font-size: 18px;
  font-weight: 600;
}
