.footer-section {
  position: relative;
  padding: 100px 0 40px;

  .ellipse-section {
    position: absolute;
    opacity: 0.3;
    background: #d5aee4;
    filter: blur(75px);
    width: 100px;
    height: 100px;
    border-radius: 500px;
    right: 0px;
    bottom: -30px;

    @include responsive(lg) {
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0.5;
      width: 300px;
      height: 300px;
      z-index: -1;
    }
  }

  .container {
    @include responsive(lg) {
      padding: 0;
    }
  }

  .footer-top {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 35px;

    .footer-name {
      margin-top: -70px;

      .lg-header {
        font-size: 44px;
        font-weight: 500;
        font-family: inherit;
        margin: 30px 0;

        @include responsive(lg) {
          margin: 0;
        }
      }

      .details {
        font-size: 13px;
        margin: 0;
      }

      @include responsive(lg) {
        margin: 0;
        text-align: center;
      }
    }

    .footer-links {
      display: flex;
      gap: 100px;

      .footer-nav {
        .xsm-header {
          color: #080809;
          font-size: 21px;
          font-weight: 700;
          line-height: 124.5%;

          @include responsive(lg) {
            margin: 20px 0 15px;
          }
        }

        ul {
          margin-top: 30px;

          li {
            margin-bottom: 10px;

            .header-tag {
              font-weight: 500;
              line-height: 124.5%;
            }
            @include responsive(lg) {
              margin: 5px;
              padding: 0;
            }
          }

          @include responsive(lg) {
            margin: 0;
            padding: 0;
          }
        }
      }

      @include responsive(lg) {
        display: flex;
        flex-direction: column;
        column-gap: 0px;
        row-gap: 10px;
        text-align: center;
      }
    }

    .footer-socials {
      .social-media {
        display: flex;
        align-items: center;
        gap: 20px;

        .social-fb {
          background: #fffefe;
          box-shadow: var(--social-box-shadow);
          border-radius: 50%;
          width: 45px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.4s ease-in-out;

          &:hover {
            background: #eeebeb;
          }
        }

        @include responsive(lg) {
          padding: 20px 0 0px;
          justify-content: center;
        }
      }

      .social-insta {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--background-insta);
        box-shadow: var(--insta-box-shadow);
      }

      .social-media,
      .img-google {
        cursor: pointer;
      }

      .xsm-header {
        margin-top: 20px;
        color: #5e6282;
        font-weight: 500;
        line-height: 124.5%;
        margin-bottom: 10px;
      }

      .img-google {
        transition: transform 0.2s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
      }

      @include responsive(lg) {
        display: block;
        gap: 50px;
        margin: 0;
      }
    }

    @include responsive(lg) {
      display: block;
      gap: 50px;
      margin: 0;
      text-align: center;
    }
  }

  .footer-bottom {
    padding: 35px 0 0;
    text-align: center;

    @include responsive(lg) {
      text-align: center;
      padding: 20px 0 0;
    }
  }

  @include responsive(lg) {
    padding: 16px;
  }
}
