.services-grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 80px;

  @include responsive(lg) {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  @include responsive(sm) {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}

.destination-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  position: relative;

  @include responsive(lg) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @include responsive(sm) {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  @include responsive(nsm) {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
