.services-grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 80px;
}

.destination-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  position: relative;
}
