.header {
  width: 100%;
  z-index: 1;
  position: fixed;
  transition: all 0.4s ease;
  padding: 40px 0;

  .header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .container {
      position: relative;
    }

    label {
      display: none;
    }
    select {
      color: #212832;
      font-size: 17px;
      font-weight: 500;

      option {
        color: #212832;
        font-size: 17px;
        font-weight: 500;
        cursor: pointer;
      }
    }

    @include responsive(lg) {
      .navbar-wrapper {
        display: none;
      }
    }

    @include responsive(lg) {
      padding: 0 50px;
    }
  }

  @include responsive(lg) {
    padding: 30px 0;
  }
}
