.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  margin: 40px 0;

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    label {
      display: none;
    }
    select {
      color: #212832;
      font-size: 17px;
      font-weight: 500;

      option {
        color: #212832;
        font-size: 17px;
        font-weight: 500;
        cursor: pointer;
      }
    }

    @include responsive(lg) {
      .nav__items {
        display: none;
      }

      .nav__select {
        margin-right: 50px;
      }
    }
  }

  @include responsive(lg) {
    padding: 0px 30px;
  }
}
