.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  margin: 40px 0;

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .login-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;

    .lngselect {
      label {
        display: none;
      }
      select {
        color: #212832;
        font-size: 17px;
        font-weight: 500;

        option {
          color: #212832;
          font-size: 17px;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
  }
}
