$background-color: rgb(254, 254, 254);

:root {
  --box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px
      rgba(0, 0, 0, 0),
    0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.01),
    0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02),
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);

  --btn-box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);

  --primary-color: #df6951;

  --background-insta: conic-gradient(
    from 180deg at 50% 50%,
    #b8d2f1 0deg,
    #f289aa 60.00000178813934deg,
    #c68bf0 106.09081864356995deg,
    #d164da 153.7500035762787deg,
    #c963e8 221.24999284744263deg,
    #bfc2e8 258.75deg,
    #ffc999 288.7499928474426deg,
    #d0d8c9 315deg,
    #bad0f1 334.13365602493286deg,
    #ced8cb 358.9677572250366deg,
    rgba(255, 255, 255, 0) 360deg
  );

  --insta-box-shadow: box-shadow: (0px 2px 10px rgba(0, 0, 0, 0.1));
}
