.btn-register {
  border: 1px solid #212832;
  padding: 5px 20px;
  border-radius: 5px;
}

.btn-hero {
  border-radius: 10px;
  background: #f1a501;
  box-shadow: var(--btn-box-shadow);
  color: white;
  padding: 15px;
}
.btn-sub {
  border-radius: 10px;
  color: white;
  padding: 20px 50px;
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
}
