.navbar__nav {
  display: flex;
  gap: 60px;
  align-items: center;
}

.navbar-hamburger-menu {
  cursor: pointer;
  display: none;

  .mob-nav-show {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .ham-menu-line {
      background-color: red;
      width: 30px;
      height: 1px;
    }
  }

  @include responsive(lg) {
    display: flex;
  }
}

.ham-menu-items {
  position: fixed;
  background: #fff;
  padding: 20px 0;
  box-shadow: var(--box-shadow);
  width: 100vw;
  height: 100vh;
  text-align: center;
  justify-content: center;
  z-index: 999;
  transform: translateX(400%);
  transition: transform 0.8s ease-in-out;

  ul {
    margin-top: 15rem;
  }

  li {
    border-bottom: 1px solid black;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-left: 50px;
    margin-right: 50px;
  }

  .ham-menu-btns {
    padding-top: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn-register {
      width: -moz-fit-content;
      width: fit-content;
      padding: 1px 20px;
    }
  }
  .ham__select {
    select {
      font-size: 17px;
    }
  }
  .img-cross {
    position: absolute;
    right: 50px;
    top: 40px;
    width: 30px;
    height: 25px;
  }

  .ham__select {
    label {
      display: none;
    }
  }

  .banner-bg {
    position: absolute;
    opacity: 0.4;
    background: #d5aee4;
    filter: blur(95px);
    width: 200px;
    height: 200px;
    border-radius: 500px;
    left: 0px;
    top: 0px;
    z-index: -3;
  }

  .banner-bg1 {
    position: absolute;
    opacity: 0.4;
    background: #d5aee4;
    filter: blur(95px);
    width: 200px;
    height: 200px;
    border-radius: 500px;
    right: 0px;
    bottom: 0px;
    z-index: -3;
  }
  .banner-bg2 {
    position: absolute;
    opacity: 0.4;
    background: #d5aee4;
    filter: blur(95px);
    width: 200px;
    height: 200px;
    border-radius: 500px;
    right: 0px;
    top: 0px;
    z-index: -3;
  }
  .banner-bg3 {
    position: absolute;
    opacity: 0.4;
    background: #d5aee4;
    filter: blur(75px);
    width: 200px;
    height: 200px;
    border-radius: 500px;
    left: 0px;
    bottom: 0px;
    z-index: -3;
  }
}

.mobile-nav-show {
  overflow: hidden;
}

.mobile-nav-show .ham-menu-items {
  display: block;
  transform: translateX(0%);
}
